html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* background slider */

.background-image {
  min-height: 70vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* navbar */

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  z-index: 999;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-header span {
  display: flex;
  justify-content: center;
  font-size: 0.65rem;
}

.title a {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(18, 187, 18);
  text-decoration: none;
  font-weight: 800;
}

.links {
  margin-right: 0.5rem;
}

.links a {
  color: rgb(245, 137, 13);
  margin-left: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
}

.order-btn {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 0.7rem;
  background: blue;
  outline: none;
  border-radius: 2rem;
  border: none;
  position: fixed;
  top: 35%;
  right: 0;
}

.hide-order {
  display: none;
}

.more-link {
  font-size: 0.8rem;
  color: blue;
  margin-left: 0.3rem;
}

form {
  margin: 1rem 0 0 0.5rem;
  padding-left: 1.3rem;
}

form input {
  display: block;
  padding: 0.2rem;
  margin: 0.6rem;
  outline: none;
  width: 100%;
  background: turquoise;
  border: none;
  font-size: 0.8rem;
}

form button {
  background-color: red;
  border: 1px solid rgb(7, 11, 240);
  outline: none;
  color: white;
  margin-left: 1.3rem;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 35%;
  background-color: rgb(235, 203, 203);
  width: 100%;
  right: 20%;
  padding-left: 1.3rem;
}

/* homepage */

.info p {
  font-size: 1rem;
  line-height: 2.3rem;
  margin: 1.6rem 2rem;
  color: rgb(23, 73, 57);
}

.info img {
  width: 90%;
  text-align: center;
  display: block;
}

/* diseases */
.diseases-intro {
  margin-top: 5rem;
}

.diseases-intro p {
  font-size: 0.9rem;
  line-height: 2rem;
  margin: 1.6rem 1.8rem;
  color: rgb(23, 73, 57);
}

.diseases-intro img {
  width: 95%;
}

.single-disease {
  margin: 0.5rem 1.1rem;
  background-color: #fff;
}

.single-disease p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.disease-title h2 {
  color: rgb(153, 45, 6);
  text-transform: capitalize;
  font-size: 1.2rem;
}

.disease-title button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  outline: none;
}

.diseases-list {
  margin: 1.2rem 1.5rem;
}

.disease {
  margin: 3rem 0.5rem 0 0.7rem;
}

.disease img {
  width: 94%;
}

.disease h1 {
  font-size: 1.2rem;
  font-weight: 550;
}

/* about */

.about {
  margin-top: 4rem;
}

.about-info {
  margin: auto 1.3rem;
  font-size: 0.9rem;
  line-height: 1.85rem;
}

.about-info h2 {
  color: rgb(100, 26, 26);
  border-top: solid rgb(14, 45, 102) 2px;
  font-size: 1.2rem;
}

.diseases-link {
  color: #fff;
  background: black;
  text-decoration: none;
  padding: 0.1rem;
}

.questions {
  margin: auto 1.1rem;
}

.question {
  margin: 2.9rem auto;
  line-height: 1.5rem;
}

.question p,
h5 {
  margin-bottom: 0.6rem;
}

/* order */
.order {
  display: flex;
  background-color: whitesmoke;
}
/* footer */

footer {
  background-color: white;
}

.partner-icons {
  text-align: center;
}

.partner-icons img {
  width: 5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  margin-right: 0.7rem;
}

footer a {
  text-align: center;
  display: block;
}

@media screen and (min-width: 720px) {
  body {
    margin: 0 11rem;
    padding: 0;
  }

  nav {
    height: 4rem;
  }

  .head {
    justify-content: space-around;
  }

  .title a {
    font-size: 1.4rem;
  }

  .links a {
    margin-left: 0.6rem;
    font-size: 1rem;
  }

  .order-btn {
    font-size: 1rem;
  }

  .nav-header span {
    font-size: 0.8rem;
  }

  .background-image {
    min-height: 98vh;
    width: 100vw;
  }

  .hide-order {
    display: none;
  }

  form {
    margin-top: 1.6rem;
  }

  form input {
    padding: 0.5rem;
    margin: 0.8rem;

    font-size: 1.3rem;
  }

  /* background slider */

  .background-image {
    min-height: 100vh;
  }

  /* homepage */

  .info p {
    font-size: 1.1rem;
    line-height: 2.6rem;
    margin: 1.7rem 2.6rem;
  }

  .info img {
    width: 60%;
  }

  /* diseases */
  .diseases-intro p {
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin: 1.7rem 1.9rem;
  }

  .diseases-intro img {
    width: 60%;
  }

  .single-disease p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .disease-title h2 {
    font-size: 1.2rem;
  }

  .disease {
    margin: 6rem 0.5rem 0 0.7rem;
  }

  .disease img {
    width: 65%;
  }

  .disease h1 {
    font-size: 1.1rem;
    font-weight: 550;
  }

  /* about */

  .about-info {
    font-size: 1.1rem;
    line-height: 1.95rem;
  }

  .about-info h2 {
    font-size: 1.2rem;
  }

  .about-info img {
    width: 60%;
  }

  .questions {
    margin: auto 1.3rem;
  }

  .question {
    margin: 3.1rem auto;
    line-height: 1.7rem;
  }

  .question p,
  h5 {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    line-height: 2.3rem;
  }

  /* footer */

  .partner-icons img {
    width: 7rem;
  }

  .social-media a {
    margin-right: 0.9rem;
  }
}
