html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* background slider */

.background-image {
  min-height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgb(56, 52, 52, 0.8);
  color: white;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-content {
  color: white;
  margin: 0;
  padding: 8rem 0 0 0.2rem;
}

.background-content h1 {
  color: yellow;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.background-content h3 {
  margin-top: 0;
  font-size: 1.1rem;
}

.background-content p {
  margin: 1rem;
  line-height: 1.9rem;
  color: white;
}

/* navbar */

nav {
  background-color: white;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 2rem;
}

.order-links {
  display: flex;
  color: white;
  font-size: 0.6rem;
  width: 100%;
  justify-content: center;
}

.order-link a,
.order-btn,
.inquiry-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem 1.2rem;
  width: auto;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.order-btn,
.inquiry-btn {
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

.orange,
.order-btn {
  background: orangered;
}

.light-blue {
  background: skyblue;
}

.black,
.inquiry-btn {
  background: black;
}

.green {
  background: green;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.title h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(18, 187, 18);
  text-decoration: none;
  font-weight: 600;
  padding: 0 1.1rem;
  margin-bottom: 1.2rem;
  font-stretch: expanded;
}

/* order and inquiry form */
form {
  margin: 1rem 0 0 0.5rem;
  padding-left: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  display: block;
  padding: 0.2rem;
  margin: 0.4rem;
  outline: none;
  width: 90%;
  background: white;
  color: black;
  border: none;
  font-size: 0.8rem;
  border-radius: 1.5rem;
  font-weight: 700;
}

textarea {
  margin-bottom: 0.4rem;
  outline: none;
}

form button {
  background-color: blue;
  border: none;
  outline: none;
  color: white;
  padding: 0.3rem;
}

.order,
.inquiry {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 38%;
  background: linear-gradient(
    to right top,
    rgb(67, 176, 219, 0.8),
    rgb(224, 239, 245, 0.6)
  );
  width: 100%;

  padding-bottom: 1rem;
  z-index: 999;
}

.hide-order,
.hide-inquiry {
  display: none;
}

.order span,
.inquiry span {
  border: 1px solid black;
  background: white;
  color: #333;
  font-size: 0.6rem;
  font-weight: 800;
  padding: 0.3rem;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  border: none;
  color: white;
}

/* homepage */
.intro {
  color: rgb(241, 33, 33);
  margin: 0.8rem 1.2rem;
  font-size: 1.3rem;
}

.video {
  padding: 1rem;
}

.info img {
  width: 90%;
}

.info {
  margin: 1rem 1.2rem;
  border: 1px solid lightblue;
  padding: 0.7rem;
}

.info h2 {
  text-transform: capitalize;
  color: rgb(90, 195, 236);
}

.info p {
  color: #333;
  font-size: 1.17rem;
  line-height: 2rem;
}

.question {
  margin: 2.9rem auto;
  line-height: 1.5rem;
}

.question p,
h5 {
  margin-bottom: 0.6rem;
}

.testimony-link {
  background-color: black;
  text-decoration: none;
  color: white;
}

.testimonies {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
}

.testimonies iframe{
  margin: 1rem 0;
}

.testimonies a {
  text-decoration: none;
  position: fixed;
  background: blue;
  color: white;
}

.testimonies img {
  width: 95%;
  display: block;
  margin: 1rem 0;
}

/* footer */

footer {
  background-color: white;
}

.partner-icons {
  text-align: center;
}

.partner-icons img {
  width: 5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  margin-right: 0.7rem;
}

footer a {
  text-align: center;
  display: block;
}

@media screen and (min-width: 720px) {
  body {
    margin: 0 11rem;
    padding: 0;
  }

  nav {
    height: 4rem;
  }

  .head {
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .title h1 {
    margin-bottom: 2rem;
  }

  .background-image {
    min-height: 100vh;
  }

  .overlay {
    min-height: 100vh;
  }


  .background-content h1 {
    color: yellow;
    margin-bottom: 0;
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  .background-content h3 {
    font-size: 1.4rem;
  }

  .background-content p {
    margin: 1.2rem;
    line-height: 2.2rem;
    padding: 0 2rem;
  }

  .hide-order {
    display: none;
  }

  form {
    margin-top: 1.6rem;
  }

  form input {
    padding: 0.5rem;
    margin: 0.8rem;

    font-size: 1.3rem;
  }

  

  .questions {
    margin: auto 1.3rem;
  }

  .question {
    margin: 3.1rem auto;
    line-height: 1.7rem;
  }

  .question p,
  h5 {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    line-height: 2.3rem;
  }

  .testimonies img {
  width: 40%;
  justify-content: center;
  align-items: center;
}

  /* footer */

  .partner-icons img {
    width: 7rem;
  }

  .social-media a {
    margin-right: 0.9rem;
  }
}
